<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Inspirado no Layout</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='content/img/logo.jfif') }}" alt="Logo">
        </div>
        <nav>
            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <script>
 

        function toggleMenu() {
            const nav = document.querySelector('nav ul');
            nav.classList.toggle('show');
        }
    </script>
    <main>
            <!-- Incluindo o template parcial -->
            {% include 'exemploDATATABLE.html' %}

    </main>
    <footer>
        <p>© 2024 Site Inspirado no Layout</p>
    </footer>
</body>
</html>
