<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Prices</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">




</head>
<body>
    <h1>Crypto Prices</h1>
    {% if cryptos %}
        <table id="#cryptoTable">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
            </tr>
            {% for crypto in cryptos %}
                {% if crypto.name and crypto.symbol and crypto.price %}
                    <tr>
                        <td>{{ crypto.name }}</td>
                        <td>{{ crypto.symbol }}</td>
                        <td>{{ crypto.price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Dados incompletos para esta criptomoeda.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>Nenhuma criptomoeda disponível.</p>
    {% endif %}
    <br>

    <script>
            $('#cryptoTable').DataTable();
    </script>



</body>
</html>
